{% extends 'base.html' %}

{% block title  %}
Music Taste Prediction App
{% if message %}
{{ message }}
{% endif %}
{% endblock  %}

{% block lead  %}
Let's Predict
{% endblock  %}

{% block main_body  %}
To predict press the predict button

<form method="POST" action="/result">
  <input name="artist_name" class="form-control" type="text" placeholder="Artist Name">
  <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
  </div>
  <input type="submit" class="btn btn-primary" value="Predict" />
</form>
{% endblock  %}

